<div class="messages">
  <div class="container">
    <% @messages.each do |message| %>
    <div class="message <%= 'right' if logged_in? && message.id%3==0 %>">
    <p class="content"><%= message.content %></p>
    <p class="time <%= 'right' if message.id%3==0 %>"><%= time_ago_in_words(message.created_at) %><br>
      <% if logged_in? && message.id%3==0 %>
        <%= link_to 'Delete', message_path(message),
            class: "delete-link",
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
      <% end %>
    </div>
      <% end %>
  </div>
  <div class="container">
    <% if logged_in? %>
      <%= link_to 'New Message', "messages/new", class: "global-btn" %>
    <% else %>
      <%= link_to "Log in to add a new message", login_path %></p>
    <% end %>
    <br><br>
  </div>
</div>
<script>
  window.scrollTo(0, document.body.clientHeight);
</script>
